.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    text-align: center;
    
}

.box{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
